{% extends "record/layout.html" %}

{% block body %}
<h1>Your Expenses</h1>
<a href="{% url 'add_income' %}" class="add-expense">Add New Income</a>
{% if incomes %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
                <tr>
                    <td>{{ income.date }}</td>
                    <td>Rs{{income.amount }}</td>
                    <td>{{income.note }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No income recorded yet.</p>
{% endif %}
    
{% endblock %}