{% extends "record/layout.html" %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <label for="amount">Amount:</label>
    <input type="number" name="amount" value="{{ income.amount }}" required><br>

    

    <label for="date">Date:</label>
    <input type="date" name="date" value="{{ income.date }}" required><br>

    <label for="note">Note:</label>
    <textarea name="note">{{ income.note }}</textarea><br>

    <button type="submit">Update Income</button>
</form>

{% endblock %}